<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>This is beta version of page</h1>
      <a href=" http://127.0.0.1:8000/">Back</a>
        <p>
            Welcome to beta version
        </p>
      <a href="http://127.0.0.1:8000/main">Main</a> | <a href="http://127.0.0.1:8000/payment/">Payment</a>
      | <a href="http://127.0.0.1:8000/group">Group</a> | <a href="http://127.0.0.1:8000/guardians">Guardians</a>
      | <a href="http://127.0.0.1:8000/rating">Ratings</a> | <a href="http://127.0.0.1:8000/settings">Settings</a>
</body>
</html>
