<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>Najot ta'lim:</h1>
      <p>
          Id: 1
      </p>
      <p>
          Miqdori: 1 320 000 so'm
      </p>
      <p>
          Holati: Paid
      </p>
      <p>
          To'lov turi: Naqd
      </p>
      <p>
          Vaqti: 15 Yan, 2024 10:02
      <p>
          Id: 2
      </p>
      <p>
          Miqdori: 1 320 000 so'm
      </p>
      <p>
          Holati: Paid
      </p>
      <p>
          To'lov turi: Apelsin
      </p>
      <p>
          Vaqti: 24 Fev, 2024 19: 34

      </p>
      <a href="http://127.0.0.1:8000">Back 🔙</a>
</body>
</html>